 * {
                margin: 0;
                padding: 0;
            }

            body {
                background-color: rgb(0, 0, 33);
                color: white;
                font-family: 'poppins', sans-serif;

            }

            nav {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 80px;
                background-color: rgb(44, 44, 82);
            }

            nav ul {
                display: flex;
                justify-content: center;
            }

            nav ul li {
                list-style: none;
                margin: 0 23px;
            }

            nav ul li a {
                text-decoration: none;
                color: white;
            }

            nav ul li a:hover {
                color: rgb(82, 82, 173);
                font-size: 1.2rem;
            }
            .dropdown{display:none}
            
            ul  li: :hover.dropdown{
                display: block;
                position: absolute;
                margin-left: -0.3cm;
                margin-top: 0.29cm;
            }
            ..dropdown ul{
                margin: 0;
                padding: 0;
            }
            .dropdown ul li{
                display: block;

            }
            .left {
                font-size: 1.5rem;
            }
             .firstsection {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 130px 0;

            }
            .Leftsection {
                font-size: 3rem;
                width: 50%;
                }
                .leftsection .buttons{
                    padding: 12px;
                }
            .leftsection. btn {
                padding: 12px;
                background:#1e2167;
                color: white;
                border: 2px solid white;
                border-radius: 6px;
                font-size: 20px;
                cursor: pointer;
            }

            .rightsection img {
                width: 100%;   
                
            }

            .purple {
                color: rgb(155, 72, 163);
            }

            .text-gray {
                color: gray;
            }

            .secondsection {
                max-width: 80vw;
                margin: auto;
                height: 80vh;
            }

            .secondsection h1 {
                font-size: 1.9rem;
            }

            .secondsection .box {
                background: white;
                width: 76vw;
                height: 2px;
                margin: 56px 0;
                display: flex;
            }

            .secondsection .vertical {
                height: 93px;
                width: 1px;
                background-color: white;
                display: flex;
                margin: 0 120px;
            }

            .image-top {
                width: 30px;
                position: relative;
                top: -32px;
                left: -9px;
                height: 30px;
            }

            .vertical-title {
                position: relative;
                top: 75px;
                width:150px;
                font-size: large;
            }


            .vertical-desc {
                position: relative;
                top: 86px;
                width: 150;
                font-size: 9px;
            }
            footer{
                background-color: rgb(82, 82, 173);
             height: 233px;
             
            }
            .footer{
                text-align: center;
                display: flex;
                padding: 23px 122px;
                justify-content: space-evenly;
            }
            .footer ul{
                list-style: none;
            }
            .footer>div{
                width: 223px;
            }
            .footer.footer-rights{
                text-align: center;
                color: gray;
                padding: 12px 0;
            }
        </style>